* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.wrap{
  max-width: 640px;
  min-width: 360px;
  margin: 0 auto;
}

article.background{
  background-color: #f8f8f8;
}

.text-truncate{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-truncate2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; 
  -webkit-box-orient: vertical !important;
}

button.more{
  font-size: 14px;
  width: 100%;
  height: 50px;
  color: #333d47;
  border: none;
  background-color: #f0f0f0;
}

button.orange{
  color: #e58b04;
  background-color: #fdf6eb;
}

button.green{
  color: #21a93c;
  background-color: #edf8ef;
}

button.blue{
  color: #0e82db;
  background-color: #ecf5fc;
}

button.red{
  color: #e00d14;
  background-color: #fdecec;
}

/* header */
.header {
  padding: 0px 12px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
}

.head-name {
  display: flex;
  justify-content: baseline;
}

.head-name button.back {
  padding: 0 !important;
  margin-right: 5px;
  border: none;
  background: none;
}

.head-name h1 {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
}

/* section article(main) */
.main{
  margin-top: 50px;
}

.nav-box{
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));
}

.nav{
  width: 100%;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.nav button {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(40, 49, 58, 0.6);
  /* background-color: #fff; */
}

.nav button:hover{
  color: #28313A;
}

.nav-link{
  border: none !important;
}

.nav button.active {
  font-weight: 700;
  font-size: 16px;
  color: #141414;
  border-bottom: 3px solid #28313a !important;
}

.nav-tabs .nav-link.active{
  background: none !important;
}

.tab-content {
  margin-top: 20px;
  padding: 0px 20px;
  margin-bottom: 63px;
}

.main-news, .main-tag{
  width: 100%;
  height: 101px;
  padding: 15px 20px;
  background-color: #F9F9F9;
  border-radius: 16px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

.date-time, .data-time span{
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  margin-bottom: 10px;
}

.text{
  font-size: 16px;
  color: #141414;
  font-weight: 400;
}

.main-tag .data-time{
  display: flex;
  justify-content: space-between;
}

.data-time span button{
  font-size: 11px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.main a{
  text-decoration: none;
}











/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);