* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.wrap{
  max-width: 640px;
  margin: 0 auto;
}

article.background{
  background-color: #f8f8f8;
}

.up{
  color: #E81A1A; 
}

.down{
  color: #2073EF; 
}

.emp::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 14px;
  background-color: #e0e9ff;
  z-index: -999;
}

strong.emp{
  position: relative;
  z-index: 999;
}

/* header */
.header{
  padding: 0px 12px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.head-name{
  display: flex;
  justify-content: baseline;
}

.head-name button.back{
  padding: 0 !important;
  margin-right: 5px;
  border: none;
  background: none;
}

.head-name h1{
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
}

/* section article1(message) */
.message{
  height: 38px;
  line-height: 38px;
  display: flex;
  justify-content: space-between;
  padding: 0 22px 0 24px;
  background-color: #333d47;
  color: #fff;
  border-radius: 38px;
  margin: 0px 20px;
  margin-bottom: 20px;
}

.message .mes-text{
  font-size: 14px;
  font-weight: 400;
}

.mes-text span strong{
  font-weight: 700;
}

.mes-close button{
  padding: 0;
  border: none;
  background: none;
  line-height: 38px;
}



/* section article(issue) */
.issue{
  padding: 0px 30px;
  color: #000;
}

.isu-headname{
  margin-bottom: 10px;
}

.isu-headname span{
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.isu-headname em{
  font-style: normal;
  color: #8C8C8C;
  font-size: 10px;
  font-weight: 400;
}

img.isu-img{
  width: 100%;
}

/* swiper */
.swiper.isuSwiper{
  padding: 15px 20px 40px 20px !important; 
}

.swiper.hotisuSwiper{
  padding: 20px 20px 40px 20px;
}

button.more{
  font-size: 14px;
  width: 100%;
  height: 50px;
  color: #333d47;
  float: left;
  border: none;
  background-color: #F4F2F4;
}

.swiper-slide.issue-slide{
  width: 100%;
  margin-right: 20px;
  padding: 20px;
  background-color: #F9F9F9;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.slide-tag{
  display: flex;
  justify-content: space-between;
}

.slide-tag button{
  width: 65px;
  height: 23px;
  border: none;
  background-color: #999999;
  color: #fff;
  font-size: 10px;
  border-radius: 20px;
  margin-bottom: 7px;
  font-weight: 500;
}

button.red{
  background-color: #EA5863;
}

button.blue{
  background-color: #3F82DE;
}

.slide-tag span{
  font-size: 13px;
  font-weight: 500;
}

.slide-text{
  font-size: 13px;
  font-weight: 400;
  color: #5c5c5c;
}

.swiper-pag{
  width: 100%;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  float: left !important;
  bottom: 0px !important;
  margin-top: 20px;
}

span.swiper-pagination-bullet{
  margin-right: 16px !important; 
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #000;
}


/* section article (cha) */
.cha{
  color: #141414;
  background-color: #f8f8f8;
}

.cha-headname{
  padding: 40px 30px 0px;
}

.cha-headname span{
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.swiper.chaSwiper{
  padding: 20px 20px 40px;
}

.swiper-slide.cha-slide{
  width: 100%;
  /*padding: 15px 20px;
  */margin-right: 20px;
  display: block;
  background: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  float: left;
  overflow: hidden;
}

.slide-listname{
  padding: 20px 20px 2px;
}

.slide-listname span{
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.slide-listname small{
  color: #8C8C8C;
  font-size: 10px;
  font-weight: 400;
}

.slide-list ul{
  list-style: none;
  padding: 0 !important;
}

.slide-list ul li{
  margin: 0 20px 0px;
  padding: 18px 0;
  border-top: 1px solid #d7d7d7;
}

.slide-list ul li:first-child{
  border-top: none;
}

.list-top{
  display: flex;
  justify-content: space-between;
}

.list-top-name{
  width: 188px;
  font-size: 16px;
  font-weight: 500;
}

.list-top span.num{
  font-size: 13px;
  font-weight: 500;
  width: 66px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 4px;
}

span.red{
  background-color: #FDECEC;
}

span.blue{
  background-color: #E3F1FF;
}

.list-bot{
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.list-bot span{
  color: #4d4d4d;
}

span.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* section article (tec) */
.tec-headname{
  padding: 40px 30px 20px;
}

.tec-headname span{
  font-size: 20px;
  font-weight: 700;
}

.tec-tab{
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.nav{
  width: 100%;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.nav button {
  width: calc((100% - 40px)/2);
  font-size: 16px;
  color: #28313A;
  /* background-color: #fff; */
}

.nav button:hover{
  color: #28313A;
}

.nav-link{
  border: none !important;
}

.nav button.active {
  font-weight: 700;
  font-size: 16px;
  color: #000;
  border-bottom: 3px solid #28313a !important;
}

.nav-tabs .nav-link.active{
  background: none !important;
}

.tab-content{
  margin-top: 20px;
  /* padding: 0 20px; */
}

.sect-headname{
  padding: 0px 30px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sect-box{
  margin: 14px 20px;
  padding: 17px 25px 14px 20px;
  background-color: #F9F9F9;
  border-radius: 15px;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 8%);
}

.sect-box.last{
  margin-bottom: 0;
}


.sect-top span{
  font-size: 11px;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 4px;
}

span.green{
  background-color: #EDF8EF;
  color: #21a93c;
}

span.blue{
  color: #2073EF;
}

span.red{
  color: #E81A1A;
}

.sect-top a{
  float: right;
  text-decoration: none;
  padding-right: 12px;
  color: #8C8C8C;
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
  background: url(../img/tec-img.png) no-repeat  100% 3px;
}

.sect-top a:hover{
  color: #8c8c8c;
}

.sect-bot{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.sect-bot span{
  width: 100px;
  font-size: 16px;
  font-weight: 500;
}

.sect-bot em{
  font-style: normal;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;
}

.sect-bot em strong{
  color: #000;
}

.tec-more{
  padding: 0px 20px;
}

.tec-more button{
  width: 100%;
  height: 50px;
  margin-top: 26px;
  margin-bottom: 40px;
  border: none;
  background-color: #F4F2F4;
  border-radius: 10px;
  font-size: 14px;
}

/* article (interest) */
.interest{
  background-color: #f8f8f8;
}

.int-headname{
  padding: 40px 29px 20px;
  position: relative;
}

.int-headname span{
  font-size: 20px;
  font-weight: 900;
}

.int-headname button{
  font-size: 14px;
  color: #808080;
  border: none;
  background: none;
  position: absolute;
  right: 31px;
  top: 45px;
}

.intSwiper{
  padding: 0 20px !important;
}

.intSwiper .swiper-wrapper{
  position: relative;
}

.int-tab{
  width: 100%;
}

.int-slide{
  width: 100%;
  height: 304px;
  border-radius: 16px;
  background-image: linear-gradient(134deg, #362c61 8%, rgba(24, 141, 191, 0.23) 33%, rgba(255, 255, 255, 0) 77%);
  background-color: #333d47;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
  border: none;
  padding: 29px 23px 28px 24px;
}

.int-slide2{
  width: 100%;
  height: 304px;
  border-radius: 16px;
  background-image: linear-gradient(134deg, #362c61 8%, rgba(24, 141, 191, 0.23) 33%, rgba(255, 255, 255, 0) 77%);
  background-color: #333d47;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
  border: none;
}

.intslide-top{
  margin-bottom: 46px;
  position: relative;
}

.intslide-top2{
  padding: 29px 32px 0 24px;
  position: relative;
}

.intslide-top2 .top-text2{
  margin-bottom: 57.5px;
}

.intslide-top span, .intslide-top2 span{
  width: 83px;
  height: 24px;
  padding: 5px 15px;
  color: #fff;
  background-color: #000;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
}


.top-text, .top-text1{
  margin-top: 12px;
}

.top-text2{
  width: 273px;
  height: 42px;
  margin-top: 5px;
  margin-bottom: 46px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

.top-text strong, .top-text1 strong{
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.top-text small, .top-text1 small{
  font-size: 14px;
  font-weight: 400;
  color: #9EA2BB;
}

.top-text::after{
  content: "";
  background: url(../img/int-img.png) no-repeat 0 0;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
}

.top-text1::after{
  content: "";
  background: url(../img/usa.png) no-repeat 0 0;
  float: right;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 32px;
  height: 32px;
}

.intslide-bot{
  color: #fff;
}

.intslide-bot span{
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.intslide-bot span strong{
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.intslide-bot button{
  margin-top: 11px;
  padding: 5px 12px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 400;
}

.intslide-bot2{
  width: 100%;
  height: 110px;
  padding: 22px 28.72px 27px 24.62px;
  background: rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.intslide-bot2 span {
  position: relative;
  display: block;
  width: 100%;
  min-height: 18px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  float: left;
  padding-left: 18px;
  opacity: .8;
  margin-bottom: 10px;
}

.intslide-bot2 span::before{
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  width: 18px;
  text-align: center;
}

.intslide-bot2 span:last-child{
  margin-bottom: 0;
}

.int-slide.notjoin .intslide-top, .int-slide.notjoin .intslide-bot{
  filter: blur(7px);
}

.notjoin{
  position: relative;
}

.notjoin-text{
  position: absolute;
  width: 100%;
  padding: 25px;
  left: 0;
  top: 0;
  text-align: center;
}

.notjoin-text span{
  padding: 5px 14px;
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  font-size: 12px;
  float: left;
}

.maintext{
  margin: 67px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.notjoin-text button{
  padding: 15px 60px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 900;
}

.modal-content{
  padding: 24px 20px 20px 20px;
  text-align: center;
  border-radius: 16px !important;
}

.modal-text{
  margin: 0 auto;
  margin-bottom: 24px;
}

.modal-btn{
  width: 100%;
  margin: 0 auto;
}

.modal-btn button{
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 8px;
  margin-right: 12px;
}

.modal-text span{
  font-size: 16px;
  color: #141414;
  background: none;
}

button.cancle{
  width: 88px;
  height: 50px;
  border: 1px solid #D2D2D2;
  color: #141414;
  background-color: #fff;
}

button.join{
  width: 180px;
  height: 50px;
  border: none;
  color: #fff;
  background-color: #3F54C3;
  margin-right: 0;
}

.aiport{
  padding: 0px 20px;
}

.aiport button{
  width: 100%;
  margin: 30px 0 40px 0;
  text-align: left;
  padding: 20px 21px 20px 29px;
  border: 1px solid #f6cfda;
  border-radius: 10px;
  background-color: #fbe7ec;
}

.aiport-text{
  float: left;
  margin-right: 10px;
}

.aiport span{
  font-size: 14px;
  color: rgba(40,49,58,.8);
  font-weight: 500;
}

.aiport span strong{
  font-size: 18px;
  color: #D31145;
  font-weight: 900;
}

.aiport .aiport-next{
  float: right;
  margin-top: 15px;
}


/* article (report) */
.rep-headname{
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px;
}

.rep1, .rep2{
  padding: 0 20px;
}

.nav.rep-sub{
  height: 40px;
}

.rep-sub button{
  width: 33.33%;
  height: 40px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  border-radius: 0px !important;
}

.nav-tabs.rep-sub{
  border: none !important;
  background-color: #EBEBEB;
  border-radius: 6px;
}

.rep-sub button:hover{
  color: #999;
}

button.nav-link.rep-sub1.active, button.nav-link.rep-sub2.active, button.nav-link.rep-sub3.active{
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #000 !important;
  border-radius: 6px !important;
  background-color: #fff !important;
  color: #141414;
}


.rep-list{
  position: relative;
  padding: 18px 5px;
  border-top: 1px solid #d7d7d7;
}

.rep-list:first-child{
  border: none;
  padding-top: 0;
}

.list-name{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.list-sub1{
  font-size: 12px;
  font-weight: 400;
  color: #4D4D4D;
}

.list-sub{
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #4D4D4D;
}

.rep-list span{
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 400;
  color: #4d4d4d;
}

.rep-list span em.red{
  font-style: normal;
  color: #E81A1A;
}

.rep-list span em.blue{
  font-style: normal;
  color: #2073EF;
}

.list-bot{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #969696;
}

.text-truncate2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; 
  -webkit-box-orient: vertical !important;
}

.list-bot.right{
  width: auto;
  position: absolute;
  right: 5px;
  top: 12px;
}

.rep-list:first-child .list-bot.right{
  right: 5px;
  top: -6px;
}

.rep-more{
  width: 100%;
  height: 50px;
  border: none;
  background-color: #F4F2F4;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #333d47;
  margin-bottom: 40px;
}



/* article (recom) */
.recom-headname{
  padding: 40px 30px 0px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.recom-list{
  padding: 0px 24px 40px;
}

.recom a{
  display: block;
  text-decoration: none;
  color: #28313A;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 4px;
}

.recom a:hover{
  color: #28313A;
}

.recom a:last-child{
  margin-bottom: 0;
}


/* footer */
footer{
  padding: 40px 26px 77px 27px;
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  border-top: 8px solid #f4f4f4;
}

.footer-text{
  margin-bottom: 10px;
}

footer div:last-child{
  margin-bottom: 0;
}



/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);