* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.wrap{
  max-width: 640px;
  min-width: 360px;
  margin: 0 auto;
}

.container{
  padding: 0 !important;
}

article.background{
  background-color: #f8f8f8;
}

.text-truncate{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-truncate2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; 
  -webkit-box-orient: vertical !important;
}

/* header */
.header {
  padding: 0px 12px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between; 
  background-color: #fff;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.head-name {
  display: flex;
  justify-content: baseline;
}

.head-name button.back {
  padding: 0 !important;
  margin-right: 5px;
  border: none;
  background: none;
}

.head-name h1 {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
}

/* container */
.nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2)) !important;
}

.nav button {
  width: 33.33%;
  height: 38px;
  font-size: 16px;
  color: #828282;
  font-size: 16px;
  font-weight: 400;
}

.nav-link{
  border: none !important;
}

.nav button.active {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border-bottom: 3px solid #000 !important;
}

.nav-tabs .nav-link.active{
  background: none !important;
}

.nav button:hover {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.info-tabcontent{
  margin-top: 132px;
}

.fixed{
  position: fixed;
  left: 0;
  right: 0;
  top: 88px;
  z-index: 999;
  width: 100%;
  height: 44px;
  padding: 9px 20px;
  background-color: #F8F8F8;
}

.fixed-left span{
  font-size: 12px;
  font-weight: 500;
  color: #707884;
  margin-right: 24px;
}

.fixed-left span strong{
  color: #3f54c4;
  font-weight: 700;
}

.fixed-right{
  position: absolute;
  right: 20px;
  top: 8px;
}

.fixed-right button{
  background-color: #141414;
  color: #fff;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
}

.info-list ul{
  list-style: none;
  padding: 0 !important;
}

.info-list ul li a{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #141414;
  font-size: 16px;
  font-weight: 400;
}

.info-list img{
  float: right;
}

/* modal */
.modal{
  z-index: 99999 !important;
}

.modal-header{
  padding: 14px 20px !important;
  height: 50px;
  border: none !important;
}

.modal-header .header-name{
  font-size: 18px;
  font-weight: 700;
}

.modal-header button.btn{
  padding: 0;
}

.modal-body{
  padding: 0 !important;
}

.selectbar{
  position: relative;
  padding: 10px 20px;
  background-color: #F8F8F8;
  position: fixed;
  width: 100%;
  height: 44px;
}

.select{
  font-size: 14px;
  color: #3f54c3;
  font-weight: 400;
}

.select img{
  margin-bottom: 5px;
}

.selectbar span{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 12px;
  color: #707884;
  font-weight: 500;
}

.selectbar span em{
  font-style: normal;
  font-weight: 700;
  color: #3f54c3 !important;
}

.alarm-tabContent{
  margin-top: 88px;
}

.alarm-list ul, .ai-list ul{
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.alarm-list, .ai-list{
  border-bottom: 10px solid #f0f0f0;
  padding: 12px 0;
  /* padding: 20px 20px 0; */
}

.alarm-list ul li, .ai-list ul li{
  padding: 14px 20px;
  font-size: 16px;
  color: #141414;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.imp-alarm, .ai-signal{
  padding: 15px 20px;
}

.ai-signal{
  border-bottom: 10px solid #f0f0f0;
}

.imp-headname, .signal-headname{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #141414;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 28px;
}

.btn-group{
  width: 100%;
  display: grid !important;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.check .btn{
  width: 100px;
  height: 40px;
  padding: 0;
  border: 1px solid #f0f0f0;
  color: #8c8c8c;
  background-color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  border-radius: 6px !important;
}

.btn-check:checked+.btn{
  border-color: #3f54c3 !important;
  color: #3f54c3 !important;
  background-color: #fff;
  font-weight: 500;
}

.btn:hover{
  border: 1px solid #f0f0f0 !important;
  color: #8c8c8c !important;
  background-color: #fafafa !important;
}

.btn.small{
  font-size: 12px;
  padding: 10px 12px;
  line-height: 15px;
}

.btn.small2{
  font-size: 12px;
  padding: 5px 12px;
  line-height: 15px;
}


button.set-btn{
  width: 100%;
  height: 50px;
  border: none;
  color: #fff;
  background-color: #3f54c3;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 380px;
}

.ai{
  margin-top: 88px;
}

.detail{
  padding: 22px 20px;
}

.detail button{
  width: 100%;
  height: 60px;
  line-height: 20px;
  text-align: left;
  padding: 20px 25px;
  border: 1px solid #d2d2d2;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #141414;
  font-weight: 500;
}

.detail button img{
  float: right;
}



/* modal */
.modal-body ul{
  list-style: none;
  margin-top: 44px;
  padding: 0 !important;
}

.modal-body ul li{
  padding: 19px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: #141414;
}

/* modal check/radio box */
.form-check label{
  margin-top: 2px;
  margin-left: 8px;
}



.form-check-input[type=checkbox]{
  border-radius: 50% !important;
}

.form-check-input{
  width: 22px !important;
  height: 22px !important;
  border: 1px solid #d8d8d8 !important; 
  background-image: url(../img/Vector\ 142-1.png) !important;
  background-size: 60% auto !important;
}

.form-check-input:checked{
  background-color: #3f54c3 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-image: url(../img/Vector\ 142.png) !important;
  background-size: 60% auto !important;
}

.form-switch .form-check-input{
  width: 40px !important;
  height: 24px !important;
  border-radius: 20px !important;
  background-image: url(../img/Ellipse\ 21.png) !important;
  background-color: #E9E9EA;
  border: none !important;
  background-position: 5% 2px !important;
}

.form-switch .form-check-input:checked{
  background-position: 95% 2px !important;
}

.form-check input:focus{
  outline: none;
  box-shadow: none;
  border: none;
}

.modal-footer button{
  width: 100%;
  padding: 10px 0;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #3f54c3;
  border-radius: 10px;
}



/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

