* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body{
  overscroll-behavior: none;
  /* position: fixed; */
}

.wrap{
  max-width: 640px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

article{
  margin-bottom: 20px;
}

article.background{
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.text-truncate{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-truncate2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; 
  -webkit-box-orient: vertical !important;
}

.header{
  padding: 0px 12px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  z-index: 999;
}

.head-name{
  display: flex;
  justify-content: baseline;
}

.head-name button.back{
  padding: 0 !important;
  margin-right: 5px;
  border: none;
  background: none;
}

.head-name h1{
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
}

.head-icon button{
  margin-right: 3px;
  padding: 0;
  border: none;
  background: none;
}

img.staron{
  display: none;
}

.btn.search.active img.staron{
  display: block;
}

.btn.search.active img.staroff{
  display: none;
}

img.alarmon{
  display: none;
}

.btn.my.active img.alarmon{
  display: block;
}

.btn.my.active img.alarmoff{
  display: none;
}

/* section article(event) */
.event{
  padding: 0px 20px;
  padding-top: 57px;
}

.evt-num ul{
  padding: 0 !important;
  margin-bottom: 9px;
  display: flex;
  justify-content: baseline;
  list-style: none;
}

.evt-num li a{
  text-decoration: none;
  padding: 0px 6px;
  border-left: 1px solid #D7D7D7;
  font-size: 11px;
  font-weight: 500;
  color: #8E8E8E;
}

.evt-num li:first-child a{
  padding-left: 0;
  border: none;
}

.evt-quote{
  color: #e81a1a;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.evt-quote span strong{
  font-size: 24px;
  font-weight: 700;
  margin-right: 15px;
}

.evt-text{
  font-size: 12px;
  font-weight: 400;
  color: #4e4e4e;
  margin-bottom: 7px;
}

.evt-tag{
  margin-bottom: 22px;
}

.evt-tag button{
  border: 1px solid #D9D9D9;
  font-size: 11px;
  font-weight: 400;
  color: #4d4d4d;
  background: none;
  border-radius: 99px;
  padding: 5px 10px;
}

.evt-btn{
  width: 100%;
}

.evt-btn button{
  width: 100px;
  height: 32px;
  line-height: 15px;
  background-color: #3B3B3B;
  font-weight: 500;
  color: #fff;
  border: none;
  font-size: 12px;
  border-radius: 6px;
}

.evt-btn button img{
  margin-left: 6px;
  margin-bottom: 2px;
}

/* evt-swiper */
.swiper.evtSwiper{
  padding: 20px;
}

.swiper-pag{
  width: 100%;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  float: left !important;
  bottom: 0px !important;
  margin-top: 20px;
}

span.swiper-pagination-bullet{
  margin: 10px !important; 
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #000;
}

.swiper-slide.evt-slide{
  width: 100%;
  height: 205px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  cursor: default;
}

.slide-name{
  padding: 20px;
}

.slide-name span{
  font-size: 14px;
  font-weight: 700;
}

.slide-name .date{
  float: right;
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  margin-top: 2px;
}

ul.slide-list{
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0 20px;
  color: #141414;
  opacity: 0.8;
}

ul.slide-list li{
  padding: 2px 0;
  position: relative;
  float: left;
  padding-left: 18px;
}

ul.slide-list li:first-child{
  padding-top: 0;
}

ul.slide-list li::before{
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  width: 18px;
  text-align: center;
}

/* section article(aiana) */
.aiana-y{
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  float: left;
  background: #fff;
  margin-top: -150px;
  touch-action: pan-y;
  z-index: 12;
  transition: margin .3s ease-in-out;
}

.aiana-headname{
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #141414;
}

.nav{
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: baseline;
  overflow: hidden;
}

.nav button {
  height: 38px;
  font-size: 16px;
  color: #28313A;
}

.nav-link{
  border: none !important;
}

.nav button.active {
  font-weight: 900;
  font-size: 16px;
  color: #000;
  border-bottom: 3px solid #000 !important;
}

.nav-tabs .nav-link.active{
  background: none !important;
}

.nav button:hover {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.sup-img img{
  width: 100%;
}

.supply, .quote, .perform, .report{
  padding: 0 20px;
  margin-top: 30px;
}

.aiana-box, .quote-box, .perform-box, .report-box, .dis-box{
  width: 100%;
  padding: 15px 0 0;
  margin-right: 20px;
  display: block;
  background: #fff;
  box-shadow: 0px 3px 8px 5px rgb(0 0 0 / 8%);
  border-radius: 15px;
  overflow: hidden;
}

.aiana-list, .quote-list{
  padding: 10px 20px;
}

.aiana-list span, .quote-list span{
  float: left;
  border: 1px solid #8C8C8C;
  padding: 0 5px;
  border-radius: 13px;
  font-size: 13px;
  color: #8c8c8c;
  margin-top: 2px;
  margin-right: 20px;
}

.list-text, .quote-text{
  font-size: 14px;
  color: #141414;
}

.quote img.quote-img, .perform img.perform-img, .report img.report-img{
  width: 100%;
  margin-bottom: 30px;
}

.perform-box ul, .report-box ul, .dis-box ul{
  margin: 0 !important;
  list-style: none;
  padding: 0 20px;
}

.perform-box ul li, .report-box ul li, .dis-box ul li{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D9D9D9;
}


.perform-box ul li:first-child, .report-box ul li:first-child, .dis-box ul li:first-child{
  border: none;
}

.perform-box ul li span, .report-box ul li span, .dis-box ul li span{
  font-size: 14px;
  color: #8c8c8c;
}

.perform-box .text, .report-box .text, .dis-box .text{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: #141414;
}

.report-tab{
  margin-top: 20px;
}

.report-tab button{
  width: 50%;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  background-color: #EBEBEB !important;
  color: #999;
  border-radius: 0px !important;
}

button.nav-link.rep-tab.active{
  font-size: 14px;
  border: 1px solid #000 !important;
  border-radius: 5px !important;
  background-color: #fff;
}

button.nav-link.dis-tab.active{
  font-size: 14px;
  border: 1px solid #000 !important;
  border-radius: 5px !important;
  background-color: #fff;
}

.report-tab button:hover{
  font-size: 14px;
  font-weight: 900;
}

.goal{
  padding: 10px 15px;
  margin-bottom: 30px;
  border: 1px solid #8E9EF5;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 8%);
}

.goal-text span{
  font-size: 12px;
  color: #828282;
}

.goal-text span strong{
  font-size: 20px;
  font-weight: 900;
  color: #141414;
}

.goal-text{
  padding: 0px 15px;
}

.goal-text.left{
  border-right: 1px solid #EBEBEB;
}

.report-box .box-headname{
  margin-bottom: 10px;
  font-size: 20px;
  color: #141414;
  font-weight: 900;
  padding-left: 20px;
}

.rep-list{
  margin-left: 20px;
  margin-right: 20px;
}

.rep-list span{
  font-size: 12px !important;
}

.rep-text{
  font-size: 14px;
  color: #141414;
}

.rep-tag button{
  font-size: 11px;
  font-weight: 900;
  background-color: #fdecec;
  color: #e00d14;
  border: none;
  padding: 3px 5px;
  border-radius: 5px;
}

.dis{
  margin-top: 30px;
}

.dis span{
  margin-top: 22px;
}

.dis-tag button{
  border: none;
  font-size: 11px;
  background-color: #f5f5f5;
  color: #4d4d4d;
  border-radius: 5px;
  padding: 3px 5px;
}

.dis a img{
  margin-top: 25px;
}

button.more{
  margin-top: 20px;
  width: 100%;
  border: none;
  padding: 20px 0;
  background-color: #F4F2F4;
  font-size: 14px;
  color: #333d47;
}


/* footer */
footer{
  margin-top: 10px;
  background-color: #fff;
  padding: 50px 40px;
  font-size: 12px;
  font-weight: 500;
  color: #969696;
}

.footer-text{
  display: block;
  margin-bottom: 15px;
}

button.buy-btn{
  font-size: 16px;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #3F54C3;
}







/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);