.newsList {
  display: block;
  width: 100%;
  float: left;
  padding: 20px 20px 40px;

  .list {
    position: relative;
    display: block;
    width: 100%;
    background: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    padding: 13px 20px;
    float: left;
    margin-top: 12px;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent: -9999em;
    }

    &:first-child {
      margin-top: 0;
    }

    .txt {
      display: block;
      width: 100%;
      float: left;
      font-size: 14px;
      line-height: 21px;
      height: 42px;
      margin-top: 4px;
      color: #141414;
    }

    .date {
      position: absolute;
      top: 15px;
      right: 20px;
      height: 18px;
      padding: 2px 0;

      #page01 & {
        right: auto;
        left: 12px;
      }

      span {
        display: block;
        font-size: 12px;
        line-height: 14px;
        height: 14px;
        color: #969696;
        margin-left: 8px;
        float: left;

        &:first-child {
          border-right: 1px solid #d7d7d7;
          padding-right: 8px;
        }
      }
    }
  }
}
