.c-item {
  .add {
    display: flex;
    width: 100%;
    float: left;
    padding: 22px 20px 0;
    gap: 5px;
    justify-content: flex-start;

    button {
      width: calc((100% - 10px) / 3);
      background: #3b3b3b;
      height: 32px;
      line-height: 30px;
      text-align: center;
      border-radius: 6px;
      font-size: 12px;
      color: #fff;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
    }
  }
}
