.autocomplete-suggestions {
    text-align: left; 
    cursor: default; 
    border-top: 0; 
    background: #fff; 
    /* core styles should not be changed */
    position: absolute; 
    display: none; 
    z-index: 9999; 
    max-height: 300px;
    width:100% !important;
    overflow: hidden; 
    overflow-y: auto; 
    box-sizing: border-box;
    top:60px !important;
    left:0 !important;
    padding:0 20px;
}
.autocomplete-suggestion { 
    position: relative; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    height:33px;
    line-height:33px;
    color: #333; 
    width:100%;
    float:left;

    &::after{
        content: '';
        background:url(../img/main/linkarrow_s.svg) no-repeat 100% 50%;
        width:33px;
        height:33px;
        position: absolute;
        top:0;
        right:0;
    }


    &>em{
        display:block;
        float:left;
        font-size:12px;
        color:#adadad;
    }

    span{
        display:block;
        float:left;
        font-size:14px;
        color:#141414;
        padding-left:15px;

        em{
            color:#3F54C3;
        }
    }
}
.autocomplete-suggestion b { 
    font-weight: normal; 
    color: #1f8dd6; 
}
.autocomplete-suggestion.selected { 
    background: #f0f0f0; 
}