.txtbox {
  display: block;
  width: calc(100% - 20px);
  margin: 0 10px;
  padding: 0 10px;
  float: left;

  .bg-box {
    display: block;
    width: 100%;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 20px 20px;

    .top {
      display: block;
      width: 100%;
      float: left;
      min-height: 24px;
      line-height: 24px;

      &.text-truncate-2 {
        -webkit-line-clamp: none !important;
      }

      span {
        font-size: 16px;
        color: #141414;
        font-weight: 700;
      }
    }

    .txt {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      padding-top: 15px;

      @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        & *:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      span {
        position: relative;
        display: block;
        width: 100%;
        min-height: 21px;
        line-height: 21px;
        font-size: 14px;
        color: #4d4d4d;
        font-weight: 400;
        padding-left: 15px;

        &::before {
          content: "\00b7";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 15px;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}
