@import "./main/nomemsg.scss";
@import "./main/swipe.scss";
@import "./main/tab.scss";
@import "./scharea.scss";

.cnm {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  float: left;
  //scroll-snap-align: start;
  //padding-top:50px;

  &:first-of-type {
    //scroll-snap-align: none !important;
  }

  &-bg {
    background: #f8f8f8;
  }

  & > .title {
    position: relative;
    display: block;
    width: calc(100% - 60px);
    margin: 0 30px;
    float: left;

    span {
      display: block;
      width: 100%;
      font-size: 20px;
      line-height: 27px;
      color: #141414;
      font-weight: 700;
      float: left;

      em {
        position: relative;
        display: inline-block;
        z-index: 2;

        &::after {
          position: absolute;
          content: "";
          bottom: 2px;
          left: 0;
          width: 100%;
          height: 14px;
          background: #e0e9ff;
          z-index: -1;
        }
      }
    }

    & > em {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: auto;
      font-size: 10px;
      line-height: 15px;
      color: #8c8c8c;
      float: left;
      margin-top: 3px;
    }
  }

  .chart-w {
    display: block;
    width: calc(100% - 40px);
    margin: 0 20px;
    float: left;
    overflow: hidden;

    .chart-title {
      font-size: 16px;
      color: #141414;
      height: 24px;
      line-height: 24px;
    }

    .chart-label {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8px 16px;
      width: 100%;
      min-height: 19px;
      float: left;

      span {
        position: relative;
        display: block;
        width: 95px;
        height: 19px;
        line-height: 19px;
        padding-left: 16px;
        font-size: 12px;
        color: #4d4d4d;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &::before {
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          width: 9px;
          height: 9px;
          border-radius: 99%;
        }

        &.lb01::before {
          background: #f27059;
        }
        &.lb02::before {
          background: #2d3562;
        }
        &.lb03::before {
          background: #3f54c3;
        }
        &.lb04::before {
          background: #9163cb;
        }
        &.lb05::before {
          background: #289599;
        }
        &.lb06::before {
          background: #60c985;
        }
      }
    }
  }
}

.ad-banner {
  display: block;
  width: 100%;
  padding: 0 20px;
  float: left;

  button {
    display: block;
    width: 100%;
    height: 90px;
    border-radius: 8px;
    background-color: #fbe7ec;
    background-image: url(../img/main/linkarrow.svg);
    background-repeat: no-repeat;
    background-position: 92% 50%;
    border: 1px solid #f6cfda;
    padding: 20px 21px 20px 29px;
    opacity: 0.8;
    text-align: left;

    span {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: rgba(40, 49, 58, 0.8);
    }
    em {
      height: 26px;
      line-height: 26px;
      font-size: 18px;
      color: #d31145;
      margin-top: 4px;
      font-weight: 700;
    }
  }
}

.tag-link {
  display: block;
  width: 100%;
  padding: 0 24px;
  float: left;

  .link {
    display: block;
    width: 100%;
    height: 56px;
    border-radius: 4px;
    background: #fff url(../img/main/linkarrow.svg) no-repeat 92% 50%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      width: 100%;
      height: 56px;
      padding: 18px 0 16px 20px;
      font-size: 16px;
      color: #28313a;
      font-weight: 500;
    }
  }
}

.guide {
  display: block;
  width: 100%;
  padding: 40px 26px 77px 27px;
  border-top: 8px solid #f4f4f4;
  background: #fcfcfc;
  float: left;

  & > div {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #969696;
    line-height: 20px;
    float: left;
    margin-bottom: 10px;
  }
}
div.cnm {
  position: absolute;
  bottom: 0;

  .guide {
  }
}
