@import "item.scss";
@import "issue.scss";
@import "myItemAlarmSetting.scss";
@import "ainews.scss";

#subHeader{
    position: sticky;
    width:100%;
    height:50px;
    top:0;
    z-index:999;
    float:left;
}

#content{
    position:relative;
    width:100%;
    float:left;
    clear:left;
    overflow:hidden;
}
