//이슈카드
.swiper-card {
  display: block;
  width: calc(100% - 20px);
  padding: 15px 10px 0 10px;
  margin: 0 auto;

  .swiper-wrapper {
    height: 98px;
    //padding-bottom: 20px;
  }

  .icard {
    position: relative;
    display: block;
    width: 100%;
    height: 98px;
    background: #f9f9f9;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 15px 20px;

    .tag {
      display: block;
      min-width: 24px;
      height: 23px;
      padding: 5px 12px;
      float: left;
      border-radius: 23px;
      background: #999;
      color: #fff;

      span {
        display: block;
        height: 13px;
        flex-grow: 0;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.5px;
        color: #fff;
        float: left;
      }

      &.up {
        background: #ea5863;
      }
      &.dn {
        background: #3f82de;
      }
    }
    .per {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 13px;
      height: 16px;
      line-height: 16px;
    }
    .txt {
      position: relative;
      width: 100%;
      height: 38px;
      line-height: 19px;
      font-size: 13px;
      color: #5c5c5c;
      margin-top: 7px;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .swiper-pagination {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: 100%;
    float: left;

    .swiper-pagination-bullet {
      color: #333d47 !important;
      background: #333d47 !important;
      //margin: 0 8px;
    }
  }
}

//시장특징주
.swipe-box {
  display: block;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 0 10px;
  float: left;
  overflow: hidden;

  .issue-card-box {
    position: relative;
    display: block;
    width: 100%;
    min-height: 374px;

    background: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    float: left;
    overflow: hidden;

    &.bordered {
      border: 1px solid #f0f0f0;
    }

    a {
      display: block;
      width: 100%;
      min-height: 47px;
      float: left;
    }

    .title {
      display: block;
      width: 100%;
      float: left;
      padding: 20px 20px 0 20px;

      span {
        display: block;
        min-height: 27px;
        line-height: 27px;
        font-size: 20px;
        font-weight: 500;
        color: #141414;

        .visual {
          position: relative;
          z-index: 9;

          &::after {
            content: '';
            width: 100%;
            height: 14px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #e0e9ff;
            z-index: -1;
          }
        }
      }
      & > em {
        display: block;
        height: 13px;
        line-height: 13px;
        font-size: 10px;
        color: #8c8c8c;
        margin-top: 6px;
      }
    }

    .list-w {
      display: block;
      width: 100%;
      padding: 2px 15px 8px 15px;
      overflow: hidden;

      .cnm-bg & {
        padding: 2px 15px 18px 15px;
      }

      .list {
        display: block;
        width: 100%;
        float: left;
        padding: 12px 5px;
        border-bottom: 1px solid #d7d7d7;

        &:last-child {
          border-bottom: 0;
        }

        &:first-child {
          border-bottom: 1px solid #d7d7d7;
        }

        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .name {
            display: block;
            width: calc(100% - 140px);
            height: 24px;
            line-height: 24px;
            color: #141414;
            font-size: 16px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .per {
            display: flex;
            gap: 10px;
            align-items: center;
            align-content: center;

            em {
              display: block;
              font-size: 13px;
              color: #141414;
            }
            span {
              display: block;
              width: 66px;
              font-size: 13px;
              line-height: 16px;
              padding: 3px 6px;
              border-radius: 4px;
              font-weight: 500;
              text-align: center;
              background: #f5f5f5;
              color: #888;

              &.up {
                background: #fdecec;
                color: #e81a1a;
              }
              &.dn {
                background: #e3f1ff;
                color: #2073ef;
              }
            }
          }
        }

        .txt {
          display: block;
          width: 100%;
          height: 18px;
          float: left;
          font-size: 12px;
          line-height: 18px;
          color: #4d4d4d;
          margin-top: 5px;
        }
      }
    }

    .more {
      position: static;
      display: block;
      width: 100%;
      float: left;

      button {
        display: block;
        width: 100%;
        float: left;
        height: 50px;
        font-size: 14px;
        color: #333d47;
        background: #f4f2f4;
        border: 1px solid #f0f0f0;
      }

      .cnm-bg & {
        position: absolute;
        top: 21px;
        right: 20px;
        float: none;
        width: auto;

        button {
          width: 51px;
          height: 24px;
          line-height: 24px;
          font-size: 12px;
          color: #292929;
          display: flex;
          justify-content: space-around;
          align-items: center;
          align-content: center;
          flex-wrap: wrap;
          background: none;
          border: 0;
          float: none;

          &::after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border: 1px solid #7f7f7f;
            border-left: 0;
            border-bottom: 0;
            transform: rotate(45deg);
            margin-top: -2px;
          }
        }
      }
    }
  }

  .swiper-pagination {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: 100%;
    float: left;

    .swiper-pagination-bullet {
      color: #333d47 !important;
      background: #333d47 !important;
      //margin: 0 8px;
    }
  }
}

//국&해외주식
.swipe-local-card {
  display: block;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 0 10px;
  float: left;

  .local-card {
    position: relative;
    display: block;
    width: 100%;
    height: 267px;
    background-image: linear-gradient(134deg, #362c61 8%, rgba(24, 141, 191, 0.23) 33%, rgba(255, 255, 255, 0) 77%);
    background-color: #333d47;
    border-radius: 16px;
    padding: 29px 23px 28px 24px;
    -webkit-filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.08));
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.08));

    & > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .local-wrapper {
      position: relative;
      display: block;
      width: 100%;
      height: 304px;
      float: left;
    }

    .nomember {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 264px;
      background-image: url(../img/main/local-bg.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      border-radius: 16px;
      overflow: hidden;
      z-index: 98;

      .txt {
        display: block;
        width: 100%;
        min-height: 48px;
        line-height: 24px;
        text-align: Center;
        float: left;
        margin-top: 75px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
      .btnbox {
        display: block;
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 38px;

        button {
          display: inline-block;
          width: 155px;
          height: 50px;
          border-radius: 8px;
          background: #fff;
          border: 1px solid #d7d7d7;
          line-height: 50px;
          font-size: 16px;
          color: #141414;
        }
      }
    }

    .local {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      overflow: hidden;
    }
    .bullet {
      display: inline-block;
      height: 24px;
      border-radius: 24px;
      background: #040404;
      padding: 0 15px;

      span {
        display: block;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        color: #fff;
        float: left;
        font-weight: 700;
      }
    }

    .item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 164px;
      float: left;
      margin-top: 12px;
      align-content: space-between;

      .item-title {
        display: block;
        width: 100%;

        .name {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          align-content: center;
          height: 32px;
          line-height: 32px;

          span {
            display: block;
            width: auto;
            max-width: calc(100% - 72px);
            letter-spacing: -1px;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          em {
            display: block;
            width: 72px;
            color: #9ea2bb;
            font-size: 14px;
            font-weight: 400;
            padding-left: 10px;
            letter-spacing: 0;
          }
        }

        .txt {
          display: block;
          width: 100%;
          line-height: 21px;
          margin-top: 5px;
          font-size: 14px;
          color: #fff;
        }
      }

      .item-info {
        display: block;
        width: 100%;

        .price {
          display: block;

          em {
            display: block;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            letter-spacing: -1px;
            color: #fff;
            opacity: 0.8;
          }
          span {
            display: block;
            margin-top: 2px;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            height: 31px;
          }
        }

        .tag {
          display: block;
          width: 100%;
          margin-top: 11px;

          a {
            display: inline-block;
            height: 24px;
            line-height: 22px;
            border: 1px solid #ebebeb;
            padding: 0 10px;
            font-size: 11px;
            color: #fff;
            border-radius: 24px;
            float: left;
            margin-left: 4px;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }

      .item-guide {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 100px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
        padding: 16px 24.62px 23px 28.72px;
        border-radius: 0 0 16px 16px;

        span {
          position: relative;
          display: block;
          width: 100%;
          min-height: 18px;
          line-height: 18px;
          font-size: 12px;
          color: #fff;
          //opacity: .8;
          float: left;
          padding-left: 18px;
          opacity: 0.8;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            content: '\00b7';
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 700;
            font-size: 18px;
            width: 18px;
            text-align: center;
          }
        }
      }
    }
  }

  .swiper-pagination {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    bottom: auto;
    float: left;

    .swiper-pagination-bullet-active {
      background: #000;
    }
  }
}
.local-more {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 51px;
  text-align: center;

  a {
    display: flex;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #292929;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    &::after {
      content: '';
      width: 7px;
      height: 7px;
      border: 1px solid #7f7f7f;
      border-left: 0;
      border-bottom: 0;
      transform: rotate(45deg);
      margin-top: -2px;
    }
  }
}
