.selectbox {
  display: block;
  width: 100%;
  height: 72px;
  float: left;
  background: #f8f8f8;
  padding: 16px 20px;

  .vtSelect {
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    background: #fff;
    padding: 0 6px 0 10px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    span {
      display: block;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #141414;
      font-weight: 500;
    }

    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: url(../img/arrow_btm.svg) no-repeat center 50%;
      background-size: 8px 4px;
    }
  }
}

#public {
  display: block;
  width: 100%;
  float: left;
  padding: 20px 20px 40px;

  .tab-pane {
    display: none;
    &.active {
      display: block;
    }

    .p-box {
      display: block;
      width: 100%;
      float: left;

      .tab-pane {
        display: none !important;

        &.active {
          display: block !important;
        }
      }

      .list-w {
        display: block;
        width: 100%;
        float: left;

        .list {
          display: block;
          width: 100%;
          float: left;
          border-top: 1px solid #e5e5e5;
          padding: 18px 5px;

          .top {
            display: flex;
            width: 100%;
            height: 20px;
            float: left;
            justify-content: flex-start;
            gap: 0 13px;

            .bullet {
              display: block;
              height: 20px;
              padding: 3px 6px;
              border-radius: 4px;

              &.bu01 {
                background: #edf8ef;
                color: #21a93c;
              }
              &.bu02 {
                background: #fdf6eb;
                color: #e58b04;
              }
              &.bu03 {
                background: #fdecec;
                color: #e00d14;
              }

              span {
                display: block;
                height: 14px;
                line-height: 14px;
                font-size: 11px;
                font-weight: 500;
              }
            }
            .itemName {
              display: block;
              width: calc(100% - 113px);
              height: 20px;
              line-height: 20px;
              font-size: 16px;
              color: #141414;
              font-weight: 500;
            }
          }
          .txt {
            display: block;
            width: 100%;
            float: left;
            margin-top: 5px;

            span {
              display: block;
              width: 100%;
              height: 18px;
              line-height: 18px;
              font-size: 12px;
              color: #4d4d4d;
            }
          }
          .btm {
            display: flex;
            width: 100%;
            float: left;
            justify-content: flex-start;

            .date {
              display: block;
              height: 15px;
              line-height: 15px;
              font-size: 12px;
              color: #969696;
              font-weight: 400;
              margin-top: 8px;
            }
          }

          &:first-child {
            border-top: 0;
            padding-top: 0;
          }
        }
      }
    }
  }
}

.offcanvas-bottom {
  border-radius: 20px 20px 0 0;
  height: 50% !important;
  max-height: 50% !important;
  padding: 24px 0 0;
  border: 0 !important;

  .vtSelectContent {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;

    .top {
      display: flex;
      width: 100%;
      height: 24px;
      justify-content: space-between;
      padding: 0 20px;

      strong {
        font-size: 18px;
        color: #141414;
      }

      button {
        width: 24px;
        height: 24px;
        font-size: 18px;
        color: #808080;
        font-weight: 300;
      }
    }

    .box-w {
      display: block;
      width: 100%;
      float: left;
      margin-top: 25px;
      height: calc(100% - 49px) !important;
      overflow-y: auto;

      .nav.box {
        display: block;
        width: 100%;
        float: left;

        & > div {
          position: relative;
          display: block;
          width: 100%;
          height: 60px;
          float: left;

          label {
            display: flex;
            width: 100%;
            height: 60px;
            float: left;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            font-size: 16px;
            color: #141414;

            span {
              display: block;
              width: calc(100% - 24px);
              height: 60px;
              line-height: 60px;
            }
          }

          input[type="radio"] {
            position: absolute;
            top: 0;
            left: -9999em;
          }

          input[type="radio"]:checked + label {
            background: #f4f6fd;
            color: #2151d1;

            &::after {
              content: "";
              width: 24px;
              height: 24px;
              background: url(../img/checking.svg) no-repeat center 50%;
              background-size: 15px 10px;
            }
          }
        }
      }
    }
  }
}
