#tbArea .areaContent {
  display: block;
  width: 100%;
  height: calc(100vh - 152px);
  float: left;
  margin: 0 0 40px 0;
  padding: 20px 0 0;
  overflow-y: auto;
  z-index: 10;
}
#tbArea .areaContent > div {
  width: 100%;
  padding: 0 20px 40px;
  float: left;
}
#tbArea .areaContent > div .tab-pane {
  display: none;
}
#tbArea .areaContent > div .tab-pane.active {
  display: block;
}

.emptybox {
  display: block;
  width: 100%;
  height: 250px;
  line-height: 250px;
  border: 1px solid #f5f5f5;
  text-align: center;
  font-size: 14px;
  color: #898989;
  float: left;
  border-radius: 16px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
}

.areaContent .chart-w {
  display: block;
  width: 100%;
  float: left;
}
.areaContent .chart-w .date {
  display: block;
  width: 100%;
  text-align: right;
  padding: 0 10px 0 0;
  float: left;
}
.areaContent .chart-w .date span {
  display: inline-block;
  min-width: 76px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  color: #949494;
  font-family: "Inter";
}

.areaContent .alarm {
  display: block;
  width: 100%;
  float: left;
  margin: 20px 0 0 0;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.areaContent .alarm > strong {
  display: block;
  width: 100%;
  padding: 20px 20px 2px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 500;
  color: #141414;
  float: left;
}
.areaContent .alarm .more {
  display: block;
  width: 100%;
  float: left;
}
.areaContent .alarm .more button {
  width: 100%;
  height: 50px;
  background: #f4f2f4;
  font-size: 14px;
  color: #333d47;
}

.areaContent .alarm .list {
  display: block;
  width: 100%;
  padding: 0 15px 26px;
  float: left;
}
.areaContent .alarm .list > div {
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 0 0 0;
  float: left;
}
.areaContent .alarm .list > div:first-child::after {
  background: none;
}
.areaContent .alarm .list > div:last-child::after {
  height: 25px;
}
.areaContent .alarm .list > div::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #ccc;
  position: absolute;
  top: 0;
  left: 24px;
  z-index: 1;
}
.areaContent .alarm .list > div .date {
  display: block;
  width: 50px;
  float: left;
  z-index: 9;
  position: absolute;
  top: 25px;
  left: 0;
}
.areaContent .alarm .list > div .date span {
  display: block;
  float: left;
  width: 100%;
  height: 21px;
  line-height: 19px;
  border: 1px solid rgba(140, 140, 140, 0.5);
  background: #fff;
  border-radius: 99px;
  text-align: center;
  font-size: 13px;
  color: #8c8c8c;
  background: #fff;
}
.areaContent .alarm .list > div .con {
  display: block;
  width: calc(100% - 50px);
  min-height: 21px;
  line-height: 21px;
  padding: 0 0 0 60px;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  white-space: normal !important;
  float: left;
}
.areaContent .alarm .list > div .con .bullet {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 19px;
  background: #ff6f6f;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  border-radius: 100%;
  text-align: center;
}
.areaContent .alarm .list > div .con .txt {
  display: inline;
  line-height: 21px;
  font-size: 14px;
  color: #141414;
}
.areaContent .alarm .list-link > div {
  position: relative;
  padding: 18px 0;
  border-top: 1px solid #d7d7d7;
}
.areaContent .alarm .list-link > div:first-child {
  border-top: 0;
}
.areaContent .alarm .list-link > div:last-child {
  padding-bottom: 0;
}
.areaContent .alarm .list-link > div::after {
  background: none;
}
.areaContent .alarm .list-link > div .bulletbox {
  display: block;
  width: 100%;
  padding: 0 10px 0 52px;
  margin-bottom: 6px;
  float: left;
}
.areaContent .alarm .list-link > div .bulletbox span {
  display: block;
  float: left;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  font-size: 11px;
  color: #4d4d4d;
  background: #f5f5f5;
}
.areaContent .alarm .list-link > div a {
  display: block;
  width: 100%;
  float: left;
  background: url(../img/item/link.png) no-repeat 98% 50%;
  background-size: 5px 9px;
}
.areaContent .alarm .list-link > div .date {
  top: 18px;
  left: 5px;
  width: auto;
  height: 21px;
  line-height: 21px;
  border: none;
}
.areaContent .alarm .list-link > div .date em {
  font-size: 14px;
  color: #8c8c8c;
}
.areaContent .alarm .list-link > div .con {
  padding: 0 10px 0 57px;
  width: calc(100% - 10px);
}
.areaContent .alarm .list-link > div .cdn {
  display: flex;
  width: 100%;
  float: left;
  padding: 0 10px 0 57px;
  justify-content: flex-start;
  gap: 6px;
}
.areaContent .alarm .list-link > div .cdn span {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  margin-top: 6px;
  border-radius: 4px;
  background: #fdecec;
  font-size: 11px;
  color: #e00d14;
  font-weight: 500;
}
.areaContent .alarm .list-link > div .cpn {
  display: block;
  width: 100%;
  float: left;
  margin-top: 8px;
  line-height: 18px;
  padding: 0 10px 0 57px;
}
.areaContent .alarm .list-link > div .cpn span {
  font-size: 12px;
  color: #969696;
}

#tbArea .hrbox {
  position: relative;
  display: table;
  width: 100%;
  border: 1px solid #8e9ef5;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 17px 24px 18px;
  margin: 20px 0 0 0;
  table-layout: fixed;
  float: left;
}
#tbArea .hrbox::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 54px;
  top: 24px;
  left: 50%;
  background: #ebebeb;
}
#tbArea .hrbox > div {
  display: table-cell;
  width: 50%;
}
#tbArea .hrbox > div:last-child {
  padding-left: 15px;
}
#tbArea .hrbox > div .tit {
  display: block;
  width: 100%;
  float: left;
}
#tbArea .hrbox > div .tit span {
  display: block;
  width: 100%;
  float: left;
  height: 16px;
  line-height: 16px;
  font-size: 13px;
  color: #828282;
}
#tbArea .hrbox > div .tit em {
  display: block;
  width: 100%;
  float: left;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #828282;
  margin-top: 3px;
}
#tbArea .hrbox > div .prc {
  display: block;
  width: 100%;
  float: left;
  margin-top: 8px;
  line-height: 25px;
}
#tbArea .hrbox > div .prc span {
  font-size: 20px;
  color: #141414;
  font-weight: 700;
}

/*# sourceMappingURL=tbcontent.css.map */
