#tbArea header {
  width: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  z-index: 12;
  float: left;
  position: fixed;
  background: #fff;
}
#tbArea header .tit {
  display: block;
  width: 100%;
  float: left;
  background: #fff;
  padding: 20px 20px 0;
  border-radius: 20px 20px 0 0;
}
#tbArea header .tit strong {
  display: block;
  font-size: 18px;
  color: #141414;
  font-weight: 700;
  height: 23px;
  line-height: 23px;
}
#tbArea header .navi-s {
  position: relative;
  display: block;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  float: left;
  margin: 20px 0 0 0;
}
#tbArea header .navi-s::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
  z-index: 3;
}
#tbArea header .navi-s div {
  position: relative;
  display: flex;
  min-width: 100%;
  white-space: nowrap;
  overflow: auto;
  justify-content: flex-start;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  flex-wrap: nowrap;
  z-index: 9;
}
#tbArea header .navi-s div::-webkit-scrollbar {
  display: none;
}
#tbArea header .navi-s div button {
  padding: 9px 20px;
  border: 0;
}
#tbArea header .navi-s div button:hover {
  border: 0;
}
#tbArea header .navi-s div button span {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #828282;
  border: 0;
  padding: 0;
}
#tbArea header .navi-s div button.active {
  border-bottom: 2px solid #141414;
}
#tbArea header .navi-s div button.active span {
  color: #141414;
  font-weight: 700;
  border: 0;
  padding: 0;
}
