#header {
  position: fixed;
  //position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 15px 0 12px;
  margin: 0 auto;
  background: #fff;
  z-index: 999;

  &.item {
    background: #f5f5f5;
    padding: 0 14px 0 12px;

    position: relative !important;
    position: -webkit-relative;

    & > div > div:first-child {
      width: calc(100% - 92px) !important;
    }
    & > div > div:last-child .search {
      margin-right: 0;
    }
    & > div > div:last-child button.usr {
      margin-left: 10px;
    }
  }

  &.a-item {
    background: #4d4d4f;
    padding: 0 14px 0 12px;

    position: relative !important;
    position: -webkit-relative;

    & > div:last-child {
      & > div > div:first-child {
        width: calc(100% - 92px);
      }
      & > div > div:last-child .search {
        margin-right: 0;
        margin-top: 0;

        svg path {
          fill: #ffffff !important;
        }
      }
      & > div > div:last-child {
        display: flex;
        //gap: 10px;

        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
          & *:not(:last-child) {
            margin-right: 10px;
          }
        }

        div {
          display: block;

          button.usr {
            margin: 0 0 0 10px !important;
            svg path {
              stroke: white !important;
            }
            &.active {
              svg path {
                stroke: #fac60f !important;
              }
            }
          }
        }
      }

      & > div:not(.modal) {
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 50px;

        & > div {
          button {
            &.back {
              margin-top: 0;
            }
          }
        }
        h1 {
          margin-left: 5px;
          margin-top: 0;
          color: #fff;

          span {
            color: #fff;
          }
        }
      }
    }

    & > div > div:first-child {
      width: calc(100% - 92px);
    }
    & > div > div:last-child .search {
      margin-right: 0;
      margin-top: 0;

      svg path {
        fill: #ffffff !important;
      }
    }
    & > div > div:last-child {
      display: flex;
      //gap: 10px;

      @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        & *:not(:last-child) {
          margin-right: 10px;
        }
      }

      div {
        display: block;

        button.usr {
          margin: 0 0 0 10px !important;
          svg path {
            stroke: white !important;
          }
          &.active {
            svg path {
              stroke: #fac60f !important;
            }
          }
        }
      }
    }

    & > div:not(.modal) {
      justify-content: space-between;
      align-items: center;
      align-content: center;
      height: 50px;

      & > div {
        button {
          &.back {
            margin-top: 0;
          }
        }
      }
      h1 {
        margin-left: 5px;
        margin-top: 0;
        color: #fff;

        span {
          color: #fff;
        }
      }
    }
    &.a2-item {
      background: #ded6d0;

      & > div:not(.modal) {
        h1 {
          span {
            color: #141414;
            
            em{
              color:#141414;
            }
          }
        }
      }
    }
  }

  &.sub {
    padding: 0 14px 0 12px;

    & > div {
      div:first-child {
        width: calc(100% - 68px);
      }

      h1 {
        span {
          font-weight: 500;

          em {
            font-weight: 700;
          }
        }
      }
    }
  }

  & > div:not(.modal) {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & > div {
      &:first-child {
        display: flex;
        width: calc(100% - 70px);
      }

      button {
        display: block;

        &.back {
          width: 24px;
          height: 24px;
          float: left;
          margin-top: 13px;
        }
        &.search {
          width: 24px;
          height: 24px;
          float: left;
          margin-top: 13px;
          margin-right: 10px;
        }

        &.usr {
          width: 24px;
          float: left;
          margin: 13px 0 0 10px;

          &:first-child {
            margin-left: 0;
          }

          &.active {
            path {
              stroke: #fac60f;
              fill: #fac60f;
            }
          }
        }
      }

      h1 {
        display: block;
        width: 100%;
        float: left;
        height: 23px;
        line-height: 23px;
        font-size: 18px;
        color: #141414;
        font-weight: 700;
        padding: 0;
        margin: 14px 0 0 5px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
          font-weight: 500;

          em {
            font-weight: 700;
          }
        }
      }

      a {
        display: block;
        float: left;
        width: 27px;
        height: 24px;
        padding: 6px 2px;
        font-weight: 500;
        color: #141414;
        margin-top: 13px;
        text-align: center;

        img {
          float: left;
        }
      }
    }
  }

  .btnGroup {
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    align-content: center;

    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      & *:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}
