@charset "UTF-8";
.alarm-day-list {
  display: block;
  width: 100%;
  float: left;
}
.alarm-day-list .day-list {
  display: block;
  width: 100%;
  float: left;
  padding-bottom: 40px;
}
.alarm-day-list .day-list .day {
  display: block;
  width: 100%;
  height: 33px;
  line-height: 33px;
  background: #f8f8f8;
  padding: 0 20px;
}
.alarm-day-list .day-list .day span {
  font-size: 14px;
  color: #646464;
}
.alarm-day-list .day-list .list-w {
  display: block;
  width: 100%;
  padding: 0 20px;
}
.alarm-day-list .day-list .list-w .list {
  display: block;
  width: 100%;
  border: 1px solid #f0f0f0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: 20px;
  float: left;
}
.alarm-day-list .day-list .list-w .list .top {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  float: left;
  min-height: 18px;
  line-height: 18px;
  vertical-align: top;
  padding: 18px 20px;
  gap: 5px;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .alarm-day-list .day-list .list-w .list .top *:not(:last-child) {
    margin-right: 5px;
  }
}
.alarm-day-list .day-list .list-w .list .top .date {
  font-size: 12px;
  color: #969696;
}
.alarm-day-list .day-list .list-w .list .top .obj {
  font-size: 14px;
  color: #141414;
  font-weight: 700;
}
.alarm-day-list .day-list .list-w .list .top .obj.text-truncate {
  display: inline-block;
  width: calc(100% - 36px);
}
.alarm-day-list .day-list .list-w .list .top .per {
  font-size: 14px;
  font-weight: 700;
}
.alarm-day-list .day-list .list-w .list .con {
  display: block;
  width: 100%;
  float: left;
  font-size: 14px;
  color: #141414;
  letter-spacing: -1px;
  opacity: 0.8;
  line-height: 25px;
  padding: 2px 20px 0;
  margin-bottom: 18px;
}
.alarm-day-list .day-list .list-w .list .con ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.alarm-day-list .day-list .list-w .list .con ul li {
  display: block;
  width: 100%;
  list-style-type: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.alarm-day-list .day-list .list-w .list .con ul li::before {
  content: "·";
  font-size: 18px;
  color: #141414;
  padding-right: 3px;
}
.alarm-day-list .day-list .list-w .list .con ul li::marker {
  display: none;
}
.alarm-day-list .day-list .list-w .list .more {
  display: block;
  width: 100%;
  float: left;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  background: #f4f2f4;
}
.alarm-day-list .day-list .list-w .list .more a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #333d47;
}