@charset "UTF-8";
.alarm-setting-info {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  background: #f8f8f8;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  float: left;
}
.alarm-setting-info > div:first-child {
  display: flex;
  gap: 24px;
  align-items: center;
  align-content: center;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .alarm-setting-info > div:first-child *:not(:last-child) {
    margin-right: 24px;
  }
}
.alarm-setting-info > div.allcheck {
  position: relative;
  display: block !important;
  align-items: inherit;
  align-content: inherit;
  gap: 0;
}
.alarm-setting-info > div.allcheck input[type=checkbox] {
  position: absolute;
  top: 0;
  left: -9999em;
}
.alarm-setting-info > div.allcheck input[type=checkbox] + label {
  font-size: 14px;
  color: #141414;
  padding-left: 25px;
  background: url(../img/myitem/lineCheck.svg) no-repeat 0 50%;
  background-size: 14px auto;
}
.alarm-setting-info > div.allcheck input[type=checkbox]:checked + label {
  color: #3f54c3;
  background: url(../img/myitem/lineCheckOn.svg) no-repeat 0 50%;
  background-size: 14px auto;
}
.alarm-setting-info > div div {
  display: block;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #707884;
}
.alarm-setting-info > div div em {
  font-weight: 700;
  color: #3f54c3;
}
.alarm-setting-info > div a {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  background: #141414;
  border-radius: 6px;
  padding: 0 16px;
  font-size: 12px;
  color: #fff;
}
.alarm-setting-list {
  display: block;
  width: 100%;
  padding: 0 20px;
  height: 100%;
  overflow-y: auto;
  float: left;
}
.alarm-setting-list .list-w {
  display: block;
  width: 100%;
  float: left;
}
.alarm-setting-list .list-w .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  float: left;
}
.alarm-setting-list .list-w .list .item-check {
  position: relative;
  display: block;
}
.alarm-setting-list .list-w .list a {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #141414;
  float: left;
}
.alarm-setting-list .list-w .list button {
  display: none;
}
.alarm-setting-list .list-w .list.on button {
  display: block;
}
.alarm-setting-list .list-w .list.on button svg {
  fill: #3f54c3;
}
.alarm-setting-list .list-w .list.on button svg path {
  fill: #3f54c3;
}

.add-bank {
  display: block;
  width: calc(100% - 40px);
  border-top: 1px solid #d7d7d7;
  float: left;
  margin: 0 20px;
  padding: 20px 0 60px;
  text-align: right;
}
.add-bank button {
  font-size: 14px;
  color: #141414;
  font-weight: 500;
}
.add-bank button::before {
  content: "+";
  width: 16px;
  height: 16px;
  border: 1px solid #141414;
  border-radius: 100%;
  margin-right: 8px;
  display: block;
  padding: 0;
  float: left;
}

.sw-w {
  position: relative;
}

.sw-w input[type=checkbox] {
  position: absolute;
  left: -9999em;
  top: 0;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 24px;
  background: #e9e9ea;
  border-radius: 99px;
  transition: 0.2s;
  float: left;
}

.onf_btn {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 22px;
  background: #fff;
  transition: 0.2s;
}

/* checking style */
.sw-w input[type=checkbox]:checked + .switch_label {
  background: #3f54c3;
}

/* move */
.sw-w input[type=checkbox]:checked + .switch_label .onf_btn {
  left: 18px;
}

.alarm-check-button {
  display: block;
  width: 100%;
  padding: 0 20px;
  border-top: 10px solid #f0f0f0;
  float: left;
}
.alarm-check-button .check {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 14px 0;
}
.alarm-check-button .check span {
  font-size: 14px;
  font-family: Inter;
  color: #000;
}
.alarm-check-button .button-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
  justify-items: center;
}
.alarm-check-button .button-list button {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 1px solid #f0f0f0;
  background: #fafafa;
  font-size: 14px;
  color: #8c8c8c;
  border-radius: 6px;
}
.alarm-check-button .button-list button.small {
  font-size: 12px;
  line-height: 15px;
}
.alarm-check-button .button-list button.active {
  border: 1px solid #3f54c3;
  background: #fff;
  font-weight: 500;
  color: #3f54c3;
}

.alarm-check-list {
  display: block;
  width: 100%;
  padding: 12px 20px;
  float: left;
}
.alarm-check-list .list-w .list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 14px 0;
  float: left;
}
.alarm-check-list .list-w .list span {
  font-size: 16px;
  font-family: Inter;
  color: #000;
}

.alarm-more-list {
  display: flex;
  width: 100%;
  float: left;
  border-top: 10px solid #f0f0f0;
  padding: 22px 20px 40px;
  flex-wrap: wrap;
  gap: 10px 0;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .alarm-more-list *:not(:last-child) {
    margin-bottom: 10px;
  }
}
.alarm-more-list div {
  display: block;
  width: 100%;
  float: left;
  border: 1px solid #d2d2d2;
  border-radius: 12px;
  padding: 20px 25px;
}
.alarm-more-list div a {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  float: left;
  font-size: 16px;
  color: #141414;
  font-weight: 500;
  background: url(../img/main/linkarrow_s.svg) no-repeat 100% 50%;
}

.item-check {
  position: relative;
  display: block;
}
.item-check input[type=checkbox] + label {
  font-size: 16px;
  color: #141414;
  padding-left: 30px;
  background: url(../img/myitem/check.svg) no-repeat 0 50%;
  background-size: 22px auto;
}
.item-check input[type=checkbox]:checked + label {
  background: url(../img/myitem/checkOn.svg) no-repeat 0 50%;
  background-size: 22px auto;
}
.item-check input[type=checkbox] {
  position: absolute;
  top: 0;
  left: -9999em;
}

.subTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  float: left;
  padding: 0 20px;
  height: 50px;
}
.subTitle h1 {
  font-size: 18px;
  font-weight: 700;
  color: #141414;
  margin: 0;
}
.subTitle a * {
  float: left;
}

.alarm-day-list {
  display: block;
  width: 100%;
  float: left;
}
.alarm-day-list .day-list {
  display: block;
  width: 100%;
  float: left;
  padding-bottom: 40px;
}
.alarm-day-list .day-list .day {
  display: block;
  width: 100%;
  height: 33px;
  line-height: 33px;
  background: #f8f8f8;
  padding: 0 20px;
}
.alarm-day-list .day-list .day span {
  font-size: 14px;
  color: #646464;
}
.alarm-day-list .day-list .list-w {
  display: block;
  width: 100%;
  padding: 0 20px;
}
.alarm-day-list .day-list .list-w .list {
  display: block;
  width: 100%;
  border: 1px solid #f0f0f0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: 20px;
  float: left;
}
.alarm-day-list .day-list .list-w .list .top {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  float: left;
  min-height: 18px;
  line-height: 18px;
  vertical-align: top;
  padding: 18px 20px;
  gap: 5px;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .alarm-day-list .day-list .list-w .list .top *:not(:last-child) {
    margin-right: 5px;
  }
}
.alarm-day-list .day-list .list-w .list .top .date {
  font-size: 12px;
  color: #969696;
}
.alarm-day-list .day-list .list-w .list .top .obj {
  font-size: 14px;
  color: #141414;
  font-weight: 700;
}
.alarm-day-list .day-list .list-w .list .top .obj.text-truncate {
  display: inline-block;
  width: calc(100% - 36px);
}
.alarm-day-list .day-list .list-w .list .top .per {
  font-size: 14px;
  font-weight: 700;
}
.alarm-day-list .day-list .list-w .list .con {
  display: block;
  width: 100%;
  float: left;
  font-size: 14px;
  color: #141414;
  letter-spacing: -1px;
  opacity: 0.8;
  line-height: 25px;
  padding: 2px 20px 0;
  margin-bottom: 18px;
}
.alarm-day-list .day-list .list-w .list .con ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.alarm-day-list .day-list .list-w .list .con ul li {
  display: block;
  width: 100%;
  list-style-type: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.alarm-day-list .day-list .list-w .list .con ul li::before {
  content: "·";
  font-size: 18px;
  color: #141414;
  padding-right: 3px;
}
.alarm-day-list .day-list .list-w .list .con ul li::marker {
  display: none;
}
.alarm-day-list .day-list .list-w .list .more {
  display: block;
  width: 100%;
  float: left;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  background: #f4f2f4;
}
.alarm-day-list .day-list .list-w .list .more a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #333d47;
}