.newsList > .list > .tag {
  display: block;
  width: 100%;
  min-height: 20px;
  float: left;
}
.newsList > .list > .tag span {
  display: block;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  float: left;
}
.newsList > .list > .tag span.t01 {
  background: #fdf6eb;
  color: #e58b04;
}
.newsList > .list > .tag span.t02 {
  background: #ecf5fc;
  color: #0e82db;
}
.newsList > .list > .tag span.t03 {
  background: #fdecec;
  color: #e00d14;
}
.newsList > .list > .tag span.t04 {
  background: #edf8ef;
  color: #21a93c;
}
